.alumni-background {
  background-image: url("https://img.freepik.com/free-vector/party-crowd-silhouettes-dancing-nightclub_1048-11557.jpg?semt=ais_hybrid&w=740");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.alumni-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(251, 251, 251);
  text-align: center;
  margin: 0 20px;
}

.alumni-card {
  background-color: rgba(255, 255, 255, 0.8);
  height: 350px;
  width: 380px;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 15px;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 0px; 
}

.w-50 {
  width: 50%;
}

.me-2 {
  margin-right: 0.5rem;
}

.form-select {
  width: 40%;
  max-width: 300px;
  margin-right: 1rem;
  margin-left: 1rem;
}

button {
  margin-left: auto;
  margin-right: 1rem;
}
